<div class="details-item__content">
  <h3 class="details-item__title">
    Pendant lamp
  </h3>

  <div class="details__star" data-rateyo-rating="4"></div>

  <p class="details-item__cost">
    23<span>$</span>
  </p>

  <p class="details-item__descr">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo
  </p>

  <div class="details-item__wrap">
    <span class="sr-only">add to card</span>
    <input class="details-item__counter" type="number" value="1">
    <a class="button-link details-item__link" href="#">add to card</a>
  </div>


  <ul class="details-item__descript">
    <li class="details-item__item">
      Sku:<span class="details-item__value">014</span>
    </li>
    <li class="details-item__item">
      Category:<span class="details-item__value">Lights</span>
    </li>
    <li class="details-item__item">
      Tag:<span class="details-item__value">Decorative</span>
    </li>
  </ul>

</div>