<div class="details-related related">
  <div class="related__inner">
    <h2 class="title related__title">Related products</h2>
    <ul class="related__slider">

      <li class="products-week__item related__item">

        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/1.png" width="240" height="170" alt="product name">
          </div>

          <h3 class="product-card__name">
            Wooden radio
          </h3>

          <p class="product-card__cost">
            <span>$</span>29.00
          </p>

          <div class="product-card__nav">
            <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item related__item">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/2.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden chair
          </h3>
          <p class="product-card__cost">
            <span>$</span>29.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item related__item">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/3.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            White chair
          </h3>
          <p class="product-card__cost">
            <span>$</span>29.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item related__item">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/4.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Retro table

          </h3>
          <p class="product-card__cost">
            <span>$</span>29.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item related__item">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/5.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden radio
          </h3>
          <p class="product-card__cost">
            <span>$</span>29.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item related__item">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/6.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden chair
          </h3>
          <p class="product-card__cost">
            <span>$</span>29.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>

</div>