<div class="details-tabs">
  <ul class="details-tabs__top">
    <li class="details-tabs__item">
      <a class="button-link details-tabs__link details-tabs__link--active" href="#tab1">Description</a>
    </li>
    <li class="details-tabs__item">
      <a class="button-link details-tabs__link" href="#tab2">Additional information</a>
    </li>
    <li class="details-tabs__item">
      <a class="button-link details-tabs__link" href="#tab3">Reviews (<span>2</span>)</a>
    </li>
  </ul>
  <ul class="details-tabs__content">
    <li class="details-tabs__descr details-tabs__descr--active" id="tab1">consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur
      adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
    <li class="details-tabs__descr" id="tab2">!!!!!!!!! adipisicing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
    <li class="details-tabs__descr" id="tab3">
      @include('./components/blog/comments.html')
    </li>
  </ul>
</div>