.products-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 15px 35px;
  max-width: 270px;
  min-height: 380px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px $tabs-bg;
  outline:2px solid transparent;

  &:hover {
    .products-card__nav {
      opacity: 1;
    }
  }


  &__icon {
    fill: $icon-burger;

    &--search {
      width: 20px;
      height: 20px;
    }

    &--basket {
      width: 22px;
      height: 20px;
    }

    &--like {
      width: 22px;
      height: 18px;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &:focus{
      outline-color: $icon-head;
  }
  }

  &__images {
    margin-top: auto;
    margin-bottom: auto;
  }

  &__img {
    object-fit: contain;
    margin: 0 auto;
  }

  &__nav {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid $icon-burger;
    background-color: $white;
    cursor: pointer;
    box-shadow: 0 0 10px 5px $tabs-bg;
    transition: background-color 0.2s ease-in, fill 0.2s ease-in;
    outline:2px solid transparent;
    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      background-color: $icon-burger;

      svg {
        fill: $white;
      }
    }

    &:active {
      background-color: $black;
    }
    &:focus{
      outline-color: $icon-head;
  }
  }

  &__name {
    @include line-clamp(1);
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 2;
    color: $slider-title;
  }

  &__cost {
    @include line-clamp(1);
    @extend %dmsans-700;
    color: $icon-burger;
  }
}