body{
  @extend %rubik-400;
  font-size: 16px;

  background-color: #fff;
}
.container-large{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
