
html,
body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.9;
  background-color: #fff;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &--large{
    max-width: 1800px;
  }
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}