$title: #191919;
$subtitle: #436372;
$slider-title:#243f4d;
$slider-subtitle: #414141;
$slider-descr-bg: #fef7f0;
$slider-descr: #585858;
$slider-btn: #fde3cc;
$tab-off: #585858;
$icon: #edf1f4;
$icon-head: #fcd7b6;
$icon-burger: #a3bbc8;
$more-bg: #feefe2;
$tabs-bg: #f8f8f8;
$footer-title: #1f2044;
$footer-text: #7b7b7b;
// очень много переменных по цветам, я так понял нужно только основные добавить а остальные писать как обычно??
%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%btn{
  color: #fff;
  background-color: $icon-burger;
  transition: background-color 0.2s ease-in;
  &:hover {
    background-color: #7cb3d1;
  }

  &:active {
    background-color: #000;
  }
}