.details {
  padding-top: 25px 0 60px;
  font-family: $rubik;

  &__star {
    margin-bottom: 32px;
    transform: translateX(-7px);

    @include bp($xl) {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 15px;
      transform: translateX(0);
    }

    @include bp($sm) {
      margin-left: 0;
    }

    @media screen and (max-width: 568px) and (orientation: landscape) {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}

// -----------------star----------------
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
  display: inline-block;
  margin-right: 11px;
}

.details__star.jq-ry-container {
  width: 164px;
}

// --------------------counter-------------------
.jq-number {
  display: inline-block;
  position: relative;
}

.jq-number__field input {
  width: 150px;
  padding: 16px 9px;
  border: 1px solid $icon-burger;
  outline: transparent;
  background: transparent;
  font-family: $rubik;
  font-weight: 400;
  font-size: 15px;
  color: $gray;
  text-align: center;
}

.jq-number__spin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid $icon-burger;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $icon-head;
  }

  &:active {
    background-color: $icon-burger;
  }
}

.jq-number__spin.minus {
  left: 0;
  top: 50%;
}

.jq-number__spin::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 10px;
  height: 1px;
  background-color: $gray;
  border: none;
}

.jq-number__spin.minus:after {
  top: 50%;
  transform: translateY(-50%);
  border: none;
}

.jq-number__spin.plus::before {
  position: absolute;
  content: '';
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: $gray;
  border: none;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  position: absolute;
  z-index: 2;
  top: -90px;
  font-size: 0;
  width: 50px;
  height: 50px;
  border: 2px solid $icon-burger;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;

  @media screen and (max-width: 992px) and (orientation: landscape) {
    top: 250px;
  }

  @include bp($sm) {
    top: -30px;
  }

  @media screen and (max-width: 568px) and (orientation: landscape) {
    top: 10px;
  }
}

.slick-prev.slick-arrow {

  border-color: #edf1f4;
  right: 70px;
  background-image: url(../images/icon/details-left.svg);

  @media screen and (max-width: 992px) and (orientation: landscape) {
    left: 0;
  }

  @include bp($sm) {
    left: 0;
  }
}

.slick-next.slick-arrow {
  right: 0;
  background-image: url(../images/icon/details-right.svg);
}
