<div class="shop__top-filter">
  <div class="shop__icons">
    <button class="shop__btn btn-grid shop__btn--active" type="button">
      <svg class="shop__icon-grid">
        <use xlink:href="images/sprite.svg#grid-icon"></use>
      </svg>
    </button>

    <button class="shop__btn" type="button">
      <svg class="shop__icon-list btn-list">
        <use xlink:href="images/sprite.svg#list-icon"></use>
      </svg>
    </button>

    <button class="shop__btn-filters">
      <svg class="shop__icon-filters">
        <use xlink:href="images/sprite.svg#filter-icon"></use>
      </svg>
    </button>
  </div>
</div>