<ul class="shop__list">
  <!-- ------------------!------товары-------------------- -->
  <li class="shop__item">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/1.png" width="240" height="170"
          alt="product name">
      </div>

      <div class="product-card__content">
        <h3 class="product-card__name">
          Wooden radio
        </h3>
        <div class="star product-card__star" data-rateyo-rating="4"></div>
        <p class="product-card__cost">
          <span>$</span>23
        </p>
        <p class="product-card__descr">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

        <div class="product-card__nav">
          <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
            <svg class="product-card__icon product-card__icon--search">
              <use xlink:href="images/sprite.svg#card-search"></use>
            </svg>
          </a>
          <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
            <svg class="product-card__icon product-card__icon--basket">
              <use xlink:href="images/sprite.svg#card-basket"></use>
            </svg>
            <span class="product-card__hide-span">add to card</span>
          </button>
          <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
            <svg class="product-card__icon product-card__icon--like">
              <use xlink:href="images/sprite.svg#card-like"></use>
            </svg>
          </button>
        </div>
      </div>
    </article>
  </li>

  <li class="shop__item">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/2.png" width="240" height="170"
          alt="product name">
      </div>

      <div class="product-card__content">
        <h3 class="product-card__name">
          Wooden radio1
        </h3>
        <div class="star product-card__star" data-rateyo-rating="2.5"></div>
        <p class="product-card__cost">
          <span>$</span>23
        </p>
        <p class="product-card__descr">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

        <div class="product-card__nav">
          <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
            <svg class="product-card__icon product-card__icon--search">
              <use xlink:href="images/sprite.svg#card-search"></use>
            </svg>
          </a>
          <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
            <svg class="product-card__icon product-card__icon--basket">
              <use xlink:href="images/sprite.svg#card-basket"></use>
            </svg>
            <span class="product-card__hide-span">add to card</span>
          </button>
          <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
            <svg class="product-card__icon product-card__icon--like">
              <use xlink:href="images/sprite.svg#card-like"></use>
            </svg>
          </button>
        </div>
      </div>
    </article>
  </li>

  <li class="shop__item">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/3.png" width="240" height="170"
          alt="product name">
      </div>

      <div class="product-card__content">
        <h3 class="product-card__name">
          Wooden radio
        </h3>
        <div class="star product-card__star" data-rateyo-rating="4"></div>
        <p class="product-card__cost">
          <span>$</span>23
        </p>
        <p class="product-card__descr">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

        <div class="product-card__nav">
          <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
            <svg class="product-card__icon product-card__icon--search">
              <use xlink:href="images/sprite.svg#card-search"></use>
            </svg>
          </a>
          <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
            <svg class="product-card__icon product-card__icon--basket">
              <use xlink:href="images/sprite.svg#card-basket"></use>
            </svg>
            <span class="product-card__hide-span">add to card</span>
          </button>
          <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
            <svg class="product-card__icon product-card__icon--like">
              <use xlink:href="images/sprite.svg#card-like"></use>
            </svg>
          </button>
        </div>
      </div>
    </article>
  </li>

  <li class="shop__item">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/4.png" width="240" height="170"
          alt="product name">
      </div>

      <div class="product-card__content">
        <h3 class="product-card__name">
          Wooden radio
        </h3>
        <div class="star product-card__star" data-rateyo-rating="4"></div>
        <p class="product-card__cost">
          <span>$</span>23
        </p>
        <p class="product-card__descr">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

        <div class="product-card__nav">
          <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
            <svg class="product-card__icon product-card__icon--search">
              <use xlink:href="images/sprite.svg#card-search"></use>
            </svg>
          </a>
          <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
            <svg class="product-card__icon product-card__icon--basket">
              <use xlink:href="images/sprite.svg#card-basket"></use>
            </svg>
            <span class="product-card__hide-span">add to card</span>
          </button>
          <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
            <svg class="product-card__icon product-card__icon--like">
              <use xlink:href="images/sprite.svg#card-like"></use>
            </svg>
          </button>
        </div>
      </div>
    </article>
  </li>

  <li class="shop__item shop__item--none">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/5.png" width="240" height="170"
          alt="product name">
      </div>

      <h3 class="product-card__name">
        Wooden radio
      </h3>

      <p class="product-card__cost">
        <span>$</span>29.00
      </p>
      <div class="product-card__nav">
        <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
          <svg class="product-card__icon product-card__icon--search">
            <use xlink:href="images/sprite.svg#card-search"></use>
          </svg>
        </a>
        <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
          <svg class="product-card__icon product-card__icon--basket">
            <use xlink:href="images/sprite.svg#card-basket"></use>
          </svg>
        </button>
        <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
          <svg class="product-card__icon product-card__icon--like">
            <use xlink:href="images/sprite.svg#card-like"></use>
          </svg>
        </button>
      </div>
    </article>
  </li>

  <li class="shop__item shop__item--none">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/6.png" width="240" height="170"
          alt="product name">
      </div>

      <h3 class="product-card__name">
        Wooden radio
      </h3>

      <p class="product-card__cost">
        <span>$</span>29.00
      </p>
      <div class="product-card__nav">
        <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
          <svg class="product-card__icon product-card__icon--search">
            <use xlink:href="images/sprite.svg#card-search"></use>
          </svg>
        </a>
        <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
          <svg class="product-card__icon product-card__icon--basket">
            <use xlink:href="images/sprite.svg#card-basket"></use>
          </svg>
        </button>
        <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
          <svg class="product-card__icon product-card__icon--like">
            <use xlink:href="images/sprite.svg#card-like"></use>
          </svg>
        </button>
      </div>
    </article>
  </li>

  <li class="shop__item shop__item--none">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/7.png" width="240" height="170"
          alt="product name">
      </div>

      <h3 class="product-card__name">
        Wooden radio
      </h3>

      <p class="product-card__cost">
        <span>$</span>29.00
      </p>
      <div class="product-card__nav">
        <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
          <svg class="product-card__icon product-card__icon--search">
            <use xlink:href="images/sprite.svg#card-search"></use>
          </svg>
        </a>
        <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
          <svg class="product-card__icon product-card__icon--basket">
            <use xlink:href="images/sprite.svg#card-basket"></use>
          </svg>
        </button>
        <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
          <svg class="product-card__icon product-card__icon--like">
            <use xlink:href="images/sprite.svg#card-like"></use>
          </svg>
        </button>
      </div>
    </article>
  </li>

  <li class="shop__item shop__item--none">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/8.png" width="240" height="170"
          alt="product name">
      </div>

      <h3 class="product-card__name">
        Wooden radio
      </h3>

      <p class="product-card__cost">
        <span>$</span>29.00
      </p>
      <div class="product-card__nav">
        <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
          <svg class="product-card__icon product-card__icon--search">
            <use xlink:href="images/sprite.svg#card-search"></use>
          </svg>
        </a>
        <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
          <svg class="product-card__icon product-card__icon--basket">
            <use xlink:href="images/sprite.svg#card-basket"></use>
          </svg>
        </button>
        <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
          <svg class="product-card__icon product-card__icon--like">
            <use xlink:href="images/sprite.svg#card-like"></use>
          </svg>
        </button>
      </div>
    </article>
  </li>

  <li class="shop__item shop__item--none">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/9.png" width="240" height="170"
          alt="product name">
      </div>

      <h3 class="product-card__name">
        Wooden radio
      </h3>

      <p class="product-card__cost">
        <span>$</span>29.00
      </p>
      <div class="product-card__nav">
        <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
          <svg class="product-card__icon product-card__icon--search">
            <use xlink:href="images/sprite.svg#card-search"></use>
          </svg>
        </a>
        <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
          <svg class="product-card__icon product-card__icon--basket">
            <use xlink:href="images/sprite.svg#card-basket"></use>
          </svg>
        </button>
        <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
          <svg class="product-card__icon product-card__icon--like">
            <use xlink:href="images/sprite.svg#card-like"></use>
          </svg>
        </button>
      </div>
    </article>
  </li>

  <li class="shop__item shop__item--none">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/10.png" width="240" height="170"
          alt="product name">
      </div>

      <h3 class="product-card__name">
        Wooden radio
      </h3>

      <p class="product-card__cost">
        <span>$</span>29.00
      </p>
      <div class="product-card__nav">
        <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
          <svg class="product-card__icon product-card__icon--search">
            <use xlink:href="images/sprite.svg#card-search"></use>
          </svg>
        </a>
        <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
          <svg class="product-card__icon product-card__icon--basket">
            <use xlink:href="images/sprite.svg#card-basket"></use>
          </svg>
        </button>
        <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
          <svg class="product-card__icon product-card__icon--like">
            <use xlink:href="images/sprite.svg#card-like"></use>
          </svg>
        </button>
      </div>
    </article>
  </li>

  <li class="shop__item shop__item--none">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/11.png" width="240" height="170"
          alt="product name">
      </div>

      <h3 class="product-card__name">
        Wooden radio
      </h3>

      <p class="product-card__cost">
        <span>$</span>29.00
      </p>
      <div class="product-card__nav">
        <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
          <svg class="product-card__icon product-card__icon--search">
            <use xlink:href="images/sprite.svg#card-search"></use>
          </svg>
        </a>
        <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
          <svg class="product-card__icon product-card__icon--basket">
            <use xlink:href="images/sprite.svg#card-basket"></use>
          </svg>
        </button>
        <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
          <svg class="product-card__icon product-card__icon--like">
            <use xlink:href="images/sprite.svg#card-like"></use>
          </svg>
        </button>
      </div>
    </article>
  </li>

  <li class="shop__item shop__item--none">
    <article class="product-card">
      <a class="product-card__link" href="#" target="_blank"></a>
      <div class="product-card__images">
        <img class="product-card__img" src="../images/product-list/12.png" width="240" height="170"
          alt="product name">
      </div>

      <h3 class="product-card__name">
        Wooden radio
      </h3>

      <p class="product-card__cost">
        <span>$</span>29.00
      </p>
      <div class="product-card__nav">
        <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
          <svg class="product-card__icon product-card__icon--search">
            <use xlink:href="images/sprite.svg#card-search"></use>
          </svg>
        </a>
        <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
          <svg class="product-card__icon product-card__icon--basket">
            <use xlink:href="images/sprite.svg#card-basket"></use>
          </svg>
        </button>
        <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
          <svg class="product-card__icon product-card__icon--like">
            <use xlink:href="images/sprite.svg#card-like"></use>
          </svg>
        </button>
      </div>
    </article>
  </li>
</ul>