@mixin line-clamp($property) {
  -webkit-line-clamp: $property;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// @include line-clamp();

@mixin btn {
  color: #fff;
  background-color: $icon-burger;
  transition: background-color 0.2s ease-in;
  outline: 2px solid transparent;

  &:hover {
    background-color: #7cb3d1;
  }

  &:active {
    background-color: #000;
  }

  &:focus {
    outline-color: $subtitle;
  }
}