$title: #191919;
$subtitle: #436372;
$icon-head: #fcd7b6;
$icon-burger: #a3bbc8;



$slider-title:#243f4d;
$slider-subtitle: #414141;
$slider-descr-bg: #fef7f0;
$slider-descr: #585858;
$slider-btn: #fde3cc;
$tab-off: #585858;
$icon: #edf1f4;
$more-bg: #feefe2;
$tabs-bg: #f8f8f8;
$footer-title: #1f2044;
$footer-text: #7b7b7b;
$black: #000;
$white: #fff;






// по цветам пока не сделал норм градацию-сделаю

$dmsans: 'DMSans', serif;
$rubik  : 'Rubik', serif;
$poppins: 'Poppins', serif;


@function max ($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min ($numbers...) {
  @return m#{i}n(#{$numbers});
}