<div class="about__info">
  <div class="about__images" style="background-image: url(./images/about/about-bg.jpg);">

  </div>

  <div class="about__content">
    <div class="about__top">
      <span class="about__years">12</span>
      <p class="about__subtext">Years Experience Working</p>
    </div>
    <h2 class="about__title title">Mission of our creative house</h2>
    <div class="about__text">
      <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      </p>
    </div>
    <ul class="about__items">
      <li class="about__item about__item--project">

        <span class="about__num">520+</span>
        <p>Project</p>
      </li>
      <li class="about__item about__item--revenue">
        <span class="about__num">$4M</span>
        <p>Revenue</p>
      </li>
      <li class="about__item about__item--awards">
        <span class="about__num">250</span>
        <p>Awards</p>
      </li>
    </ul>
  </div>
  
</div>
<!-- <div class="about__info">
  <div class="about__images" style="background-image: url(./images/about/about-bg.jpg);">
  </div>
  <div class="about__content">
    <div class="about__top">
      <span class="about__years">12</span>
      <p class="about__subtext">Years Experience Working</p>
    </div>
    <h2 class="about__title title">Mission of our creative house</h2>
    <div class="about__text">
      <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      </p>
    </div>
    <ul class="about__items">
      <li class="about__item about__item--project">

        <span class="about__num">520+</span>
        <p>Project</p>
      </li>
      <li class="about__item about__item--revenue">
        <span class="about__num">$4M</span>
        <p>Revenue</p>
      </li>
      <li class="about__item about__item--awards">
        <span class="about__num">250</span>
        <p>Awards</p>
      </li>
    </ul>
  </div>
</div> -->