<div class="about__info">
  <div class="about__images">
    <img class="about__img" src="./images/about/about-bg.jpg" alt="about bg">
  </div>
  <div class="about__content">
    <div class="about__top">
      <p class="about__years">12</p>
      <p class="about__subtext">Years Experience Working</p>
    </div>
    <h3 class="about__title title">Mission of our creative house</h3>
    <div class="about__text">
      <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      </p>
    </div>
    <ul class="about__items">
      <li class="about__item about__item--project">

        <p class="about__num">520+</p>
        <span>Project</span>
      </li>
      <li class="about__item about__item--revenue">
        <p class="about__num">$4M</p>
        <span>Revenue</span>
      </li>
      <li class="about__item about__item--awards">
        <p class="about__num">250</p>
        <span>Awards</span>
      </li>
    </ul>
  </div>
</div>