<div class="about__team team">
  <div class="container">
    <div class="team__inner">
      <div class="team__text">
        <h2 class="team__title title">Our Team</h2>

        <div class="team__descr">
          <p>
            Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor
          inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. 
          </p>
          </div>
        <a class="link-more team__btn" href="#">Join With US</a>
      </div>

      <ul class="team__photo">
        <li class="team__member">
          <div class="team__image">
             <img  class="team__img" src="../images/about/team1.jpg" width="370" height="320" alt="team member">
          </div>
         
          <div class="team__box">
            <div class="team__text-box">
              <p class="team__name">Eliza Elliot</p>
              <p class="team__position">Commodo tempor </p>
            </div>
            <div class="team__icons">
              <a class="team__link" href="#">
                <svg class="team__icon team__icon--insta">
                  <use xlink:href="images/sprite.svg#about-insta"></use>
                </svg>
              </a>
              <a class="team__link" href="#">
                <svg class="team__icon team__icon--google">
                  <use xlink:href="images/sprite.svg#about-google"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="team__member">
          <div class="team__image">
            <img  class="team__img" src="../images/about/team2.jpg" width="370" height="320" alt="team member">
         </div>
          <div class="team__box">
            <div class="team__text-box">
              <p class="team__name">Roscoe A.</p>
              <p class="team__position">Commodo tempor </p>
            </div>
            <div class="team__icons">
              <a class="team__link" href="#">
                <svg class="team__icon team__icon--insta">
                  <use xlink:href="images/sprite.svg#about-insta"></use>
                </svg>
              </a>
              <a class="team__link" href="#">
                <svg class="team__icon team__icon--google">
                  <use xlink:href="images/sprite.svg#about-google"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="team__member">
          <div class="team__image">
            <img  class="team__img" src="../images/about/team3.jpg" width="370" height="320" alt="team member">
         </div>
          <div class="team__box">
            <div class="team__text-box">
              <p class="team__name">Ruby M.</p>
              <p class="team__position">Commodo tempor </p>
            </div>
            <div class="team__icons">
              <a class="team__link" href="#">
                <svg class="team__icon team__icon--insta">
                  <use xlink:href="images/sprite.svg#about-insta"></use>
                </svg>
              </a>
              <a class="team__link" href="#">
                <svg class="team__icon team__icon--google">
                  <use xlink:href="images/sprite.svg#about-google"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>

        <li class="team__member">
          <div class="team__image">
            <img  class="team__img" src="../images/about/team4.jpg" width="370" height="320" alt="team member">
         </div>
          <div class="team__box">
            <div class="team__text-box">
              <p class="team__name">Marie F. Bloss</p>
              <p class="team__position">Commodo tempor </p>
            </div>
            <div class="team__icons">
              <a class="team__link" href="#">
                <svg class="team__icon team__icon--insta">
                  <use xlink:href="images/sprite.svg#about-insta"></use>
                </svg>
              </a>
              <a class="team__link" href="#">
                <svg class="team__icon team__icon--google">
                  <use xlink:href="images/sprite.svg#about-google"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>