.contact {
  font-size: 16px;
  font-family: $rubik;
  // .contact__top

  &__top {
    text-align: center;
  }

  // .contact__subtext

  &__subtext {
    font-family: $poppins;
    color: $icon-burger;
    font-weight: 70;
  }

  // .contact__title

  &__title {
    font-family: $dmsans;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 60px;
    color: $comments;

    @include bp($md) {
      margin-bottom: 30px;
    }

    @include bp($sm) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      margin-bottom: 20px;
    }
  }

  // .contact__addr

  &__addr {
    margin-bottom: 119px;

    @include bp($lg) {
      margin-bottom: 50px;
    }

    @include bp($sm) {
      margin-bottom: 20px;
    }
  }

  // .contact__inner

  &__inner {
    display: flex;
    justify-content: space-between;

    @include bp($lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .contact__item

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 375px;
    width: 100%;
    padding: 74px 50px;
    background-color: $fb;
    position: relative;
    border: 2px solid transparent;
    transition: border-color 0.8s;

    @include bp($sm) {
      padding: 20px 5px;
    }


    @media screen and (max-width: 992px) and (orientation: landscape) {
      padding: 20px 10px;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include bp($lg) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    &:hover {
      border-color: $icon-burger;

      .contact__item-link {
        background-color: $icon-burger;
      }

      .contact__icon {
        fill: $white;
      }
    }
  }

  &__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    border: none;
    background-color: $white;
    transition: background-color 0.53s;

    @include bp($lg) {
      border: 1px solid $icon-burger;
      border-radius: 5px;
    }
  }

  &__icon {

    fill: $icon-burger;
    transition: fill 0.5s;

    &--address {
      width: 30px;
      height: 45px;
    }

    &--email {
      width: 40px;
      height: 35px;
    }

    &--phone {
      width: 40px;
      height: 47px;
    }
  }

  // .contact__subtitle

  &__subtitle {
    font-family: $dmsans;
    font-size: 20px;
    font-weight: 700;
    color: $lightgray;
    margin-bottom: 18px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  // .contact__text

  &__text {
    color: $comment;

    span {
      display: block;
      margin-bottom: 10px;
    }
  }

  // .contact__link

  &__link {
    margin-bottom: 10px;
    display: inline-block;
    transition: color 0.2s;

    &:hover {
      color: $icon-head;
    }

    &:active {
      color: $black;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }

  &__form-info {
    @include bp($xl) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__form-item {
    @include bp($xl) {
      max-width: 100%;
    }

    &:not(:last-child) {
      @include bp($xl) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__btn {
    border-radius: 5px;
    padding: 15px 41px;

    @include bp($md) {
      display: block;
    }
  }

  &__maps {
    display: flex;
    margin-bottom: 65px;

    @include bp($md) {
      flex-direction: column;
      align-items: center;
    }

    @include bp($sm) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      margin-bottom: 30px;
    }
  }

  &__form {
    max-width: 620px;
    width: 100%;
    margin-right: 50px;
    margin-bottom: 0;

    @include bp($md) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    @include bp($sm) {
      margin-bottom: 15px;
    }

    &-comment {
      height: 180px;
      background-position-x: 95%;
      background-position-y: 15%;
      margin-bottom: 28px;
    }

    input,
    textarea {
      text-transform: uppercase;
    }

    textarea {
      padding: 20px;
    }
  }

  &__map {
    max-width: 500px;
    width: 100%;
    overflow: hidden;

    @include bp($md) {
      max-width: 710px;
    }
  }
}

#map {
  width: 100%;
  height: 330px;
}