.terms {
  font-family: $rubik;
  line-height: 1.9;
  color: $slider-title;
  margin-bottom: 100px;

  @include bp($md) {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 992px) and (orientation: landscape) {
    margin-bottom: 10px;
  }

  // .terms__inner

  &__breadcrumbs {
    margin-bottom: 110px;

    @include bp($md) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      margin-bottom: 30px;
    }
  }

  &__inner {}

  // .terms__content

  &__content {
    margin-bottom: 50px;

    @include bp($md) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      margin-bottom: 20px;
    }
  }

  // .terms__title

  &__title {

    margin-bottom: 13px;
    font-weight: 500;

    @include bp($sm) {
      line-height: 1.5;
    }
  }

  // .terms__list

  &__list {
    padding-left: 5px;
    list-style-type: none;
    counter-reset: item;
  }

  // .terms__item

  &__item {
    position: relative;

    &::before {
      position: absolute;
      left: 0;
    }

    padding-left: 33px;

    &:nth-child(-n+9)::before {
      content: '0'counter(item);
      counter-increment: item;
    }

    &:nth-child(n+10)::before {
      content: counter(item);
      counter-increment: item;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}