.about {
  // .about__inner

  &__info {
    display: flex;
    font-family: $rubik;
    margin-bottom: 120px;

    @include bp($xl) {
      margin-bottom: 30px;
    }

    @include bp($lg) {
      flex-direction: column;
      align-items: center;
    }

    @include bp($md) {
      margin-bottom: 10px;
    }
  }

  // .about__images

  &__images {
    // flex: 0 0 50%;
    flex-basis: 50%;
    max-width: 570px;
    width: 100%;
    margin-right: 55px;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;

    @include bp($xl) {
      margin-right: 20px;
    }

    @include bp($lg) {
      height: 100%;
      // flex-basis: 100%;
      // flex: 0 0 100%;
    }

    // @media screen and (max-width: 992px) and (orientation: landscape) {
    //   width: 40%;
    // }
  }

  // .about__img

  // &__img {
  //   width: 100%;
  // }

  // .about__content

  &__content {
    padding: 60px 0;
    flex-basis: 50%;

    @include bp($xl) {
      // height: 100%;
    }
  }

  // .about__top

  &__top {
    display: flex;
    margin-bottom: 5px;

    @include bp($lg) {
      justify-content: center;
    }
  }

  // .about__years

  &__years {
    margin-right: 30px;
    font-size: 140px;
    color: $icon-burger;
    font-weight: 700;

    @include bp($xl) {
      font-size: 90px;
    }
  }

  &__subtext {
    width: 85px;
    padding-top: 40px;
    line-height: 2;
    color: $slider-title;

    @include bp($xl) {
      padding-top: 8px;
    }
  }

  // .about__title

  &__title {
    margin-bottom: 35px;
    @include line-clamp(2);
    text-align: left;
    color: $slider-title;

    @include bp($xl) {
      margin-bottom: 10px;
      text-align: center;
    }
  }

  // .about__text

  &__text {
    padding-bottom: 65px;
    @include line-clamp(8);
    overflow: hidden;
    border-bottom: 1px solid #e6eaf0;
    line-height: 1.8;

    @include bp($xl) {
      padding-bottom: 20px;
    }

    @include bp($lg) {
      // width: 80%;
      margin: 0 auto;
      // text-align: justify;
    }

    @include bp($md) {
      padding-bottom: 30px;
    }
  }

  // .about__items

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 30px 35px 30px 0px;
    font-family: $dmsans;
    font-weight: 700;

    @include bp($xl) {
      padding: 20px;
      justify-content: center;
    }

    @include bp($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .about__item

  &__item {
    position: relative;
    padding-left: 50px;

    &:not(:last-child) {
      &:after {
        position: absolute;
        content: '';
        right: -33px;
        width: 1px;
        top: 0;
        bottom: -10px;
        background-color: $icon-burger;

        @include bp($xl) {
          display: none;
        }
      }
    }

    @include bp($xl) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    @include bp($lg) {
      &:not(:last-child) {
        margin-right: 60px;
      }
    }

    @include bp($sm) {
      text-align: center;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__item--project,
  &__item--revenue,
  &__item--awards {
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__item--project {
    background-image: url(../images/icon/about-projects.svg);
  }

  &__item--revenue {
    background-image: url(../images/icon/about-revenue.svg);
  }

  &__item--awards {
    background-image: url(../images/icon/about-awards.svg);
  }

  // .about__num

  &__num {
    color: $slider-title;
    font-size: 36px;
  }

  // .about__num-item

  &__text {
    font-size: 16px;
    color: #4c4c4c;
  }

  &__results {
    padding: 85px 0 80px;
    background-color: $icon-head;

    @include bp($xl) {
      padding: 40px 0;
    }
  }

  &__team {
    padding: 120px 0 75px;
  }
}

// -------------results------------------
.results {

  // .results__items

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 0 70px 0 40px;
    font-family: $dmsans;
    font-weight: 700;
    color: $slider-title;

    @include bp($lg) {
      padding: 0 20px;
    }

    @include bp($md) {
      flex-wrap: wrap;
      width: 75%;
      margin: 0 auto;
    }

    @include bp($sm) {
      flex-direction: column;
    }
  }

  // .results__item

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;

    &:not(:last-child) {
      @include bp($sm) {
        margin-bottom: 30px;
      }
    }

    @include bp($sm) {
      padding-top: 60px;
    }
  }

  // .results__text
  &__num {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 5px;

    @include bp($lg) {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 18px;

    @include bp($lg) {
      text-align: center;
    }
  }

  // .results__item--rate

  &__item--rate {
    background-image: url(../images/icon/about-rate.svg);
    background-repeat: no-repeat;
    background-position-x: center;
  }

  // .results__item--delivered

  &__item--delivered {
    background-image: url(../images/icon/about-delivered.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10px;
  }

  // .results__item--time

  &__item--time {
    background-image: url(../images/icon/about-time.svg);
    background-repeat: no-repeat;
    background-position-x: center;
  }

  // .results__item--store

  &__item--store {
    background-image: url(../images/icon/about-store.svg);
    background-repeat: no-repeat;
    background-position-x: center;
  }

  &__item--rate,
  &__item--delivered {
    @include bp($md) {
      margin-bottom: 40px;
    }
  }
}

// .result__num

// ----------------team--------------
.team {
  @include bp($xl) {
    padding: 50px 0;
  }

  @include bp($md) {
    padding: 20px 0;
  }

  // .team__inner

  &__inner {
    display: flex;
    margin: 0 0 0 -10px;

    @include bp($xl) {
      flex-direction: column;
      align-items: center;
    }

    @include bp($sm) {
      margin: 0 auto;
    }
  }

  // .team__text

  &__text {
    width: 300px;
    margin-right: 103px;
    display: flex;
    flex-direction: column;

    @include bp($xl) {
      width: 74%;
      margin-bottom: 30px;
      width: 90%;
      margin-right: 0;
    }
  }

  // .team__title

  &__title {
    margin-bottom: 20px;
    color: $slider-title;
    text-align: left;
  }

  // .team__descr

  &__descr {
    @include line-clamp(20);
    font-family: $rubik;
    color: $slider-title;
    line-height: 1.9;
    margin-bottom: 31px;
  }

  // .team__btn

  &__btn {
    font-family: $dmsans;
    font-weight: 700;
    padding: 15px 65px 15px 15px;
    background-color: $icon-burger;
    border-radius: 5px;
    color: $white;
    transition: background-color 0.2s;

    @include bp($xl) {
      align-self: flex-end;
    }

    &:hover {
      background-color: $slider-title;
    }

    &:active {
      background-color: #000;
    }

    &:focus {
      border: 2px solid $icon-head;
      border-radius: 5px;
      outline: transparent;
    }

    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20%;
      content: '';
      width: 16px;
      height: 12px;
      background-image: url(../images/icon/team-arrow.svg);
      background-repeat: no-repeat;
    }
  }

  // .team__photo

  &__photo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 770px;

    @include bp($lg) {
      justify-content: space-evenly;
      width: 100%;
    }

    @include bp($sm) {
      background-color: #a3bbc83b;
      padding-top: 30px;
    }
  }

  // .team__member

  &__member {
    position: relative;
    width: 370px;
    height: 380px;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: 40px;

    @include bp($lg) {
      width: 322px;
      height: 380px;
    }
  }

  &__img {

    margin: 0 auto;
  }

  &__box {
    position: absolute;
    bottom: 0;
    padding: 25px 15px 25px 25px;
    background-color: $white;
    display: flex;
    width: 325px;

    @include bp($sm) {
      width: 290px;
    }
  }

  &__text-box {
    margin-right: auto;
    color: $slider-title;
  }

  // .team__name
  &__name,
  &__position {
    @include line-clamp(2);
  }

  &__name {
    margin-bottom: 10px;
    font-family: $dmsans;
    font-weight: 700;
    font-size: 22px;
  }

  // .team__position

  &__position {
    font-family: $rubik;
    font-weight: 400;
    font-size: 16px;
  }

  // .team__icons

  &__icons {
    display: flex;
    margin-top: 10px;
  }

  // .team__link

  &__link {
    position: relative;
    margin-right: 25px;
    align-self: center;

    &:hover {
      svg {
        fill: $white;
      }

      &::before {
        background-color: $icon-burger;
      }
    }

    &:active {
      svg {
        fill: $white;
      }

      &::before {
        background-color: #000;
      }
    }

    &:focus {

      &::before {
        border: 2px solid $icon-head;
        border-radius: 5px;
        outline: transparent;
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: -11px;
      left: -11px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f6f6f6;
      transition: background-color 0.2s;
    }
  }

  // .team__icon

  &__icon {
    position: relative;
    width: 17px;
    height: 17px;
    fill: #888888;
    transition: fill 0.2s;
  }
}