.breadcrumbs {
  background-color: $bread;
  font-family: $rubik;
  text-align: center;
  margin-bottom: 119px;
  @include bp($xl){
    margin-bottom: 30px;
}
  @include bp($lg){
    margin-bottom: 10px;
  }

  &__inner {
    padding: 30px 0;
    @include bp($lg){
     padding: 15px 0;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 1;
    font-weight: 100;
    @include bp($lg){
      font-size: 25px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {

    &:not(:last-child){
      border-bottom: 1px solid #222933;
      transition: border-color 0.2s;
      &:hover {
        border-color: $icon-burger;
      }
    }

    &:not(:last-child) {
      position: relative;
      margin-right: 20px;

      &::after {
        content: '/';
        position: absolute;
        right: -15px;
        color: inherit;
      }
    }
  }

  &__link,
  &__span {
    font-size: 14px;
    color: #222933;
  }

  &__link {
    outline: 2px solid transparent;
    transition: color 0.2s, outline-color 0.2s;

    &:hover {
      color: $icon-burger;
    }

    &:focus {
      outline-color: $icon-head;
    }
  }
}