.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  &__wrapper {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  // кнопка
  &__button {
    padding: 0;
    font-family: $dmsans;
    font-weight: 700;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #8b8b8b;
    cursor: pointer;
    transition: color 0.2s ease-in;
    outline: 2px solid transparent;

    &--active,
    &:hover {
      color: $black;
    }

    &:focus {
      outline-color: $icon-head;
    }
  }
}