.footer {
  flex: 0 0 auto;
  font-family: $rubik;
  font-weight: 400;
  font-size: 14px;
  color: $footer-text;

  @media screen and (max-width: 768px) and (orientation: landscape) {
    font-size: 12px;
  }

  &__logo {
    display: block;
    margin-bottom: 27px;
  }

  &__menu {
    @include bp($md) {
      justify-content: center;
      order: 1;
    }
  }

  &__copy {
    @include bp($md) {
      padding-bottom: 20px;
      text-align: center;
    }
  }
}

.footer-top {
  display: flex;
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;

  @include bp($xl) {
    justify-content: space-between;
    padding: 40px 0;
  }

  @include bp($lg) {
    justify-content: space-around;
  }

  @include bp($sm) {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    padding-top: 20px;

    @include bp($lg) {
      margin-right: 20px;
    }
  }

  &__address {
    padding-top: 0;
    max-width: 220px;
    margin-right: 73px;
  }

  &__services {
    width: 155px;
    margin-right: 145px;
  }

  &__account {
    width: 115px;
    margin-right: 185px;
  }

  &__form {
    @include bp($md) {
      max-width: 270px;
    }

    @include bp($sm) {
      padding: 0;
    }
  }

  &__address,
  &__services,
  &__account,
  &__item {

    @include bp($xl) {
      margin-right: 50px;
    }

    @include bp($lg) {
      margin-right: 0;
    }

    @include bp($md) {
      text-align: center;
    }
  }

  &__wrap {
    display: flex;
    padding-top: 0;

    @include bp($sm) {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    line-height: 1.7;
    outline: 2px solid transparent;
    transition: color 0.2s;

    &:hover {
      color: $black;
    }

    &:focus {
      outline-color: $icon-head;
    }
  }

  &__name {
    margin-bottom: 20px;
    font-family: $dmsans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $footer-title;
  }

  &__text {
    margin-bottom: 34px;
    line-height: 1.7;

    @include bp($lg) {
      margin-bottom: 20px;
    }
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 33px 0;

  @include bp($md) {
    display: block;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:not(:last-child)::after {
      content: '|';
      position: absolute;
      right: -17px;
    }
  }

  &__link {
    font-family: $rubik;
    font-weight: 400;
  }
}