html,
body {
  height: 100%;
}

img {
  object-fit: contain;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--large {
    max-width: 1800px;
  }
}

.logo {
  &__img {
    object-fit: cover;
  }

  outline: 2px solid transparent;

  &:focus {
    outline-color: $icon-head;
  }
}

.link-more {
  @include link-more;
}

.menu {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    font-family: $rubik;
    font-weight: 500;
    font-size: 15px;
    color: $subtitle;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease-in;
    outline: 2px solid transparent;

    &:hover {
      color: $black;
      border-color: $black;
    }

    &:active {
      font-weight: 700;
    }

    &:focus {
      outline-color: $icon-head;
    }
  }
}

.title {
  font-family: $dmsans;
  font-weight: 700;
  margin-bottom: 35px;
  text-align: center;
  font-size: 36px;
  color: $title;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// фильтр для секций с картинками
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  &__wrapper {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  // кнопка
  &__button {
    padding: 0;
    font-family: $dmsans;
    font-weight: 700;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #8b8b8b;
    cursor: pointer;
    transition: color 0.2s ease-in;
    outline: 2px solid transparent;

    &--active,
    &:hover {
      color: $black;
    }

    &:focus {
      outline-color: $icon-head;
    }
  }
}

// иконки на карточках
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  outline: 2px solid transparent;

  &:hover {
    background-color: #436372;

    svg {
      fill: $icon-head;
    }
  }

  &:focus {
    outline-color: $icon-head;
  }
}

.video-popup {
  position: relative;
  height: 500px;
  display: block;

  &::before,
  &::after,
  &__icon {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: none;
    background-color: $icon-burger;
  }

  &::before {
    width: 98px;
    height: 98px;
  }

  &:after {
    width: 127px;
    height: 127px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }

  &:hover {
    &::after {
      opacity: 0.4;
    }

    svg {
      fill: $subtitle;
    }
  }

  &__icon {
    width: 22px;
    height: 25px;
    fill: $white;
    border-radius: 0;
    transition: fill 0.5s ease-in;
  }
}

.form {
  width: 270px;
  display: flex;

  &__input {
    margin: 0;
    padding: 12px;
    width: 170px;
    border: none;
    color: #234969;
    outline: transparent;
    background-color: $slider-descr-bg;
    transition: background-color 0.2s ease-in;
    outline: 2px solid transparent;

    &:focus {
      background-color: $icon-head;
      outline-color: $subtitle;
    }
  }

  &__btn {
    @include btn;
    font-family: $dmsans;
    font-weight: 400;
    margin: 0;
    padding: 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
}