.header {
  flex: 1 0 auto;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__icon-search {
    width: 17px;
    height: 17px;
    fill: $slider-title;
  }

  &__icon-like {
    width: 19px;
    height: 18px;
    fill: $slider-title;
  }

  &__icon-basket {
    width: 20px;
    height: 18px;
    fill: $slider-title;
  }

  &__icon-menu {
    width: 21px;
    height: 22px;
    fill: $white;
  }

  &__search {
    margin-right: 21px;
    background-color: #edf1f4;
  }

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 45px 16px 45px 0;
    padding-top: 10px;
    width: 178px;
    height: 51px;
    border: none;
    border-radius: 50px;
    background-color: $icon-head;

    &::before {
      content: '';
      position: absolute;
      z-index: 5;
      top: 9px;
      width: 1px;
      height: 32px;
      background-color: $white;
    }
  }

  &__left,
  &__right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in,
      color 0.3s ease-in,
      fill 0.3s ease-in;
    cursor: pointer;
    outline: 1px solid transparent;

    &:hover {
      background-color: $subtitle;

      svg {
        fill: $white;
      }

      span {
        color: $black;
        background-color: $icon-head;
      }
    }

    &:focus {
      outline-color: green;
    }
  }

  &__left {
    left: 0;
    right: 50%;
    border-radius: 50px 0 0 50px;
  }

  &__right {
    border-radius: 0 50px 50px 0;
    left: 50%;
    right: 0;
  }

  &__favorites,
  &__basket {
    position: absolute;
    top: 3PX;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid transparent;
    transition: transform 0.1s ease-in;

    &:focus {
      outline-color: $icon-head;
    }
  }



  &__basket:hover {
    &::after {
      background-color: $subtitle;
    }
  }

  &__num {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 50%;
    text-align: center;
    color: $slider-title;
    background-color: $white;
  }

  &__menu {
    background-color: $icon-burger;
  }
}