.product-card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 15px 35px;
  max-width: 270px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px $tabs-bg;
  outline: 2px solid transparent;
  border: 1px solid transparent;
  transition: border-color 0.2s, box-shadow 0.2s;

  @include bp($xl) {
    max-width: 100%;
  }

  &:hover {
    border-color: $icon-burger;
    box-shadow: 0 0 10px $slider-title;
  }

  &:hover {
    .product-card__nav {
      opacity: 1;
      transform: translatey(0);
    }
  }

  &__icon {
    fill: $icon-burger;

    &--search {
      width: 20px;
      height: 20px;
    }

    &--basket {
      width: 22px;
      height: 20px;
    }

    &--like {
      width: 22px;
      height: 18px;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &:focus {
      outline-color: $icon-head;
    }
  }

  &__images {
    margin-bottom: auto;
    padding: 25px 0 65px;
  }

  &__img {
    margin: 0 auto;
    object-fit: contain;
  }

  &__nav {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translatey(350%);
    transition: opacity 0.5s ease-in, transform 0.3s;
  }

  &__btn {
    width: 45px;
    height: 45px;
    border: 1px solid $icon-burger;
    background-color: $white;
    box-shadow: 0 0 10px 5px $tabs-bg;
    transition: fill 0.2s ease-in;
    outline: 2px solid transparent;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      background-color: $icon-burger;

      svg {
        fill: $white;
      }
    }

    &:active {
      background-color: $black;
    }
  }

  &__name {
    @include line-clamp(1);
    font-family: $dmsans;
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    color: $slider-title;
  }

  &__cost {
    @include line-clamp(1);
    font-family: $dmsans;
    font-weight: 700;
    color: $icon-burger;
  }
}