.articles {
  position: relative;
  // margin-bottom: -170px;
  // .articles__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4px;
  }

  // .articles__more

  &__more {
    position: relative;
    margin-right: 22px;
    font-family: $dmsans;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.2s ease-in;

    &::after {
      position: absolute;
      content: '';
      top: 7px;
      right: -18px;
      width: 7px;
      height: 12px;
      background-image: url('../images/icon/arrow-right.svg');
      background-repeat: no-repeat;
      transition: opacity 0.2s ease-in;
    }

    &:hover {
      color: $icon-burger;

      &::after {
        opacity: 0;
      }
    }
  }

  // .articles__items

  &__items {
    display: flex;
  }

  // .articles__item



  &__item {
    position: relative;
    z-index: 111;
    background-color: $white;
    border-radius: 5px;
    max-width: 370px;
    overflow: hidden;
    transition: box-shadow 0.2s, transform 0.2s;

    &:hover {
      box-shadow: 0 0 20px 10px $icon-burger;
      transform: translateY(-2px);
    }


    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    background-color: #fef7f0;
    height: 177px;
    bottom: 33%;
    z-index: -1;
  }
}

.news-card {
  min-height: 420px;


  &__link {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s ease-in, background-color 0.2s ease-in;

    &:hover+.articles__img {
      transform: scale(1.05);
    }

    &:hover {
      background-color: $icon-burger;
      opacity: 0.5;

    }
  }

  // .articles__images

  &__images {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__img {
    transition: transform 0.5s;
  }

  // .articles__span

  &__news {
    position: absolute;
    z-index: 6;
    left: 30px;
    top: 232px;
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 5px 30px;
    background-color: $icon-burger;
    border-radius: 15px;
    color: $white;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in;

    &:hover {
      background-color: $white;
      color: $icon-burger;
      border-color: $icon-burger;
    }
  }

  // .news-card__iinfo

  &__info {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 35px 30px 30px;

  }

  // .articles__text

  &__text {
    max-width: 285px;
    max-height: 100px;
    min-height: 84px;
    overflow-wrap: break-word;

  }

  &__title {
    font-family: $dmsans;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    @include line-clamp(3);
    overflow: hidden;
  }

  // .articles__bottom

  &__bottom {
    margin-top: auto;
    border-top: 1px solid#e0e0e0;
    display: flex;
    padding-top: 8px;
    font-family: $rubik;
    font-size: 12px;
    text-transform: uppercase;
  }

  // .articles__date
  &__date,
  &__user {
    @include line-clamp(1);
    position: relative;
    padding-left: 25px;
    margin-right: 8px;
    overflow-wrap: break-word;


    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -2px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
    }
  }

  &__date {
    flex: 0 0 auto;

    &::before {
      background-image: url('../images/icon/calendar.svg');
    }
  }

  &__user {
    transition: color 0.2s ease-in;

    &:hover {
      color: $icon-burger;
    }

    &::before {
      background-image: url('../images/icon/user.svg');
    }
  }
}


//   &__item {
//     position: relative;
//     background-color: $white;
//     border-radius: 5px;
//     max-width: 370px;
//     overflow: hidden;

//     &:hover {
//       box-shadow: 0 0 20px $icon-burger;
//     }


//     &:not(:last-child) {
//       margin-right: 30px;
//     }
//   }

//   &__link {
//     position: absolute;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     transition: opacity 0.2s ease-in, background-color 0.2s ease-in;

//     &:hover+.articles__img {
//       transform: scale(1.05);
//     }

//     &:hover {
//       background-color: $icon-burger;
//       opacity: 0.5;

//     }
//   }

//   // .articles__images

//   &__images {
//     position: relative;
//     overflow: hidden;
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//   }

//   &__img {
//     transition: transform 0.5s;
//   }

//   // .articles__span

//   &__news {
//     position: absolute;
//     z-index: 6;
//     left: 30px;
//     top: 232px;
//     font-family: "Poppins", serif;
//     font-size: 14px;
//     font-weight: 700;
//     line-height: 1.4;
//     text-transform: uppercase;
//     padding: 5px 30px;
//     background-color: $icon-burger;
//     border-radius: 15px;
//     color: $white;
//     border: 1px solid transparent;
//     transition: background-color 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in;

//     &:hover {
//       background-color: $white;
//       color: $icon-burger;
//       border-color: $icon-burger;
//     }
//   }

//   // .articles__info

//   &__info {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding: 30px 30px 19px;

//   }

//   // .articles__text

//   &__text {
//     font-family: $dmsans;
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 1.3;
//     max-width: 285px;
//     max-height: 100px;
//     overflow: hidden;
//     padding-bottom: 5px;
//     border-bottom: 1px solid #e0e0e0;

//     a {
//       @include line-clamp(4);
//       overflow-wrap: break-word;
//       transition: color 0.2s ease-in;

//       &:hover {
//         color: $icon-burger;
//       }
//     }
//   }

//   // .articles__bottom

//   &__bottom {
//     display: flex;
//     padding-top: 22px;
//     font-family: $rubik;
//     font-size: 12px;
//     text-transform: uppercase;


//   }

//   // .articles__date
//   &__date,
//   &__user {
//     @include line-clamp(1);
//     position: relative;
//     padding-left: 25px;
//     margin-right: 8px;
//     overflow-wrap: break-word;


//     &::before {
//       content: '';
//       position: absolute;
//       left: 0;
//       top: -2px;
//       width: 20px;
//       height: 20px;
//       background-repeat: no-repeat;
//     }
//   }

//   &__date {
//     flex: 0 0 auto;

//     &::before {
//       background-image: url('../images/icon/calendar.svg');
//     }
//   }

//   &__user {
//     transition: color 0.2s ease-in;

//     &:hover {
//       color: $icon-burger;
//     }

//     &::before {
//       background-image: url('../images/icon/user.svg');
//     }
//   }
// }