.articles {
  margin-bottom: -170px;
  // .articles__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4px;
  }

  // .articles__more

  &__more {
    position: relative;
    font-family: $dmsans;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.2s ease-in;

    &::after {
      position: absolute;
      content: '';
      top: 7px;
      right: -18px;
      width: 7px;
      height: 12px;
      background-image: url('../images/icon/arrow-right.svg');
      background-repeat: no-repeat;
      transition: opacity 0.2s ease-in;
    }

    &:hover {
      color: $icon-burger;

      &::after {
        opacity: 0;
      }
    }
  }

  // .articles__items

  &__items {
    display: flex;
  }

  // .articles__item

  &__item {
    position: relative;
    background-color: $white;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s ease-in, background-color 0.2s ease-in;

    &:hover {
      background-color: $icon-burger;
      opacity: 0.5;
    }
  }

  // .articles__images

  &__images {
    position: relative;
  }

  // .articles__span

  &__news {
    position: absolute;
    z-index: 5;
    left: 30px;
    top: 232px;
    font-family: "Poppins",serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 5px 30px;
    background-color: $icon-burger;
    border-radius: 15px;
    color: $white;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, border-color 0.2s ease-in;
    &:hover{
      background-color: $white;
      color: $icon-burger;
      border-color: $icon-burger;
    }
  }

  // .articles__info

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 19px;
  }

  // .articles__text

  &__text {
    @include line-clamp(1);
    font-family: $dmsans;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    max-width: 285px;
    max-height: 100px;
    overflow: hidden;
    padding-bottom: 57px;
    border-bottom: 1px solid #e0e0e0;
    a {
      transition: color 0.2s ease-in;
      &:hover{
        color: $icon-burger;
      }
    }
  }

  // .articles__bottom

  &__bottom {
    display: flex;
    padding-top: 22px;
    font-family: $rubik;
    font-size: 12px;
    text-transform: uppercase;
  }

  // .articles__date
  &__date,
  &__user {
    position: relative;
    padding-left: 25px;
    margin-right: 8px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -2px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
    }
  }

  &__date {
    &::before {
      background-image: url('../images/icon/calendar.svg');
    }
  }

  &__user {
    transition: color 0.2s ease-in;
    &:hover{
      color: $icon-burger;
    }
    &::before {
      background-image: url('../images/icon/user.svg');
    }
  }
}