.design {
  margin-bottom: 85px;
  // .design__items

  &__title {
    margin-bottom: 17px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
    margin-bottom: 106px;
  }
}