.design {

  margin-bottom: 85px;
  // .design__items

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    font-family: $dmsans;
    font-weight: 700;
  }

  // .design__item

  &__item {
    position: relative;
    margin-bottom: 34px;
    padding: 35px 0 0 35px;
    width: calc(100% / 3 - 30px);
    height: 245px;
    background-color: #f8f8f8;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  // .design__images

  &__images {
    position: absolute;
    right: 0;
    bottom: 36px;
    max-width: 270px;
  }

  // .design__name

  &__name {
    position: relative;
    z-index: 2;
    line-height: 1.2;
    font-size: 20px;
    color: #1a1a1a;
    max-width: 170px;
    margin-bottom: 15px;
  }

  // .design__style

  &__style {
    font-size: 16px;
    color: $icon-burger;
  }
}