.products-week {
  padding: 62px 0;
  margin-bottom: 25px;

  &__title {
    margin-bottom: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 30px;
    margin-bottom: 185px;
  }
}