.services {

  &__inner {
    display: flex;
    justify-content: space-between;
    background-color: $slider-descr-bg;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 48px;
    max-height: 200px;

    overflow: hidden;


    &:not(:last-child) {
      border-right: 1px solid rgba(36, 63, 77, .1);
    }
  }

  &__content {
    position: relative;
    padding-left: 80px;
    max-width: 315px;
    background-position: 0 8px;
    background-repeat: no-repeat;

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #dfe3e294;
    }
  }

  &__title {
    @include line-clamp(2);
    font-family: $dmsans;
    font-weight: 700;
    // @extend %dmsans-700;
    font-size: 18px;
    line-height: 2.2;
    color: $slider-subtitle;
  }

  &__text {
    @include line-clamp(3);
    font-family: $dmsans;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: $slider-descr;
  }

  &__content--support {
    background-image: url(../images/icon/time.svg);

    &::after {
      top: 40px;
      left: 35px;
    }
  }

  &__content--delivery {
    background-image: url(../images/icon/delivery-truck.svg);

    &::after {
      top: 27px;
      left: 35px;
    }
  }

  &__content--card {
    background-image: url(../images/icon/credit-card.svg);

    &::after {
      top: 45px;
      left: 35px;
    }
  }
}