.top-slider {

  &__inner {
    background-color: $icon-head;
  }

  &__item {
    height: 820px;
    display: flex !important;
  }

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
    max-width: 1200px;

    &::before {
      content: "";
      position: absolute;
      right: -102px;
      top: 51%;
      width: 634px;
      height: 634px;
      border-radius: 50%;
      background-image: linear-gradient(to left, $white 0%, rgba($white, 0) 100%);
      transform: translateY(-50%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: hidden;

    margin-right: 40px;
  }

  &__name {
    @include line-clamp(2);
    font-family: $rubik;
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 500px;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $slider-title;
    overflow: hidden;
  }

  &__text {
    @include line-clamp(3);
    margin-bottom: 40px;
    max-width: 385px;
    font-family: $rubik;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: $slider-subtitle;
  }

  &__link {
    @include btn;
    font-family: $rubik;
    font-weight: 500;
  }

  &__images {
    position: relative;
    z-index: 5;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 40px;
    width: 100%;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      button {
        width: 30px;
        height: 30px;
        font-size: 11px;
        border: none;
        border-radius: 50%;
        color: #667983;
        background-color: $slider-btn;
        cursor: pointer;
        transition: color 0.2s ease-in, background-color 0.2s ease-in;

        &:focus {
          outline-color: $subtitle;
        }
      }

      &.slick-active button {
        color: $slider-title;
        background-color: $white;
      }
    }
  }
}