<!-- смысла нет наверно делать в html такой компонент потому что на каждой странице он будет разный ?? не понял я короче -->
<div class="breadcrumbs">
  <div class="breadcrumbs__inner">
    <h1 class="breadcrumbs__title">Log in</h1>
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <span class="breadcrumbs__span" href="#">Login</span>
      </li>
    </ul>
  </div>
</div>