.modal {
  color: $comments;
  font-family: $rubik;
  position: relative;
  margin: 0 auto;
  margin-bottom: 110px;
  // padding: 120px 0;
  max-width: 470px;

  @media screen and (max-width: 992px) and (orientation: landscape) {
    margin-bottom: 30px;
  }

  @include bp($xl) {
    margin: 30px auto;
  }


  @include bp($sm) {

    max-width: 270px;
  }

  &__wrapper {
    margin-bottom: 40px;

    @include bp($sm) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 992px) and (orientation: landscape) {
      margin-bottom: 30px;
    }
  }

  &__label {
    margin-bottom: 10px;
    font-family: $rubik;
    font-weight: 400;
    font-size: 14px;
    color: $subtitle;
  }

  &__descr {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__input,
  &__btn,
  &__link-create,
  &__checkbox,
  &__link {
    outline: 2px solid transparent;
    transition: outline-color 0.2s;

    &:focus {
      outline-color: $icon-head;
    }
  }

  &__input {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    height: 60px;
    border: 1px solid $f6;

    @include bp($sm) {
      height: 45px;
      margin-bottom: 15px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      height: 45px;
      margin-bottom: 15px;
    }
  }

  &__btn,
  &__link-create {
    transition:
      color 0.3s,
      background-color 0.3s,
      border-color 0.3s;

    &:active {
      box-shadow: 0 0 15px $icon-burger;
      outline-color: transparent;
    }
  }

  &__btn {
    display: block;
    margin-bottom: 30px;
    padding: 19px 0;
    width: 100%;
    border: 2px solid transparent;
    cursor: pointer;
    font-family: $rubik;
    font-weight: 500;
    font-size: 18px;
    color: $ff;
    background-color: $icon-burger;

    @include bp($md) {
      padding: 15px 0;
    }
    @media screen and (max-width: 992px) and (orientation: landscape) {
     padding: 12px 0;
    }
    &:hover {
      color: $icon-burger;
      background-color: $ff;
      border-color: $icon-burger;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 29px;
    border-bottom: 1px solid $f6;

    @include bp($md) {
      flex-direction: column;
      align-items: center;
    }

    @include bp($sm) {
      padding-bottom: 0;
      border: none;
    }
    @media screen and (max-width: 992px) and (orientation: landscape) {
      padding-bottom: 15px;
    }
   

  }

  &__check-label,
  &__link,
  &__text {
    color: $subtitle;
    font-family: $rubik;
    font-weight: 400;
    font-size: 14px;
  }

  // &__check-label,
  &__link {
    border-bottom: 1px solid transparent;
    transition: color 0.2s, border-color 0.2s;

    &:hover {
      border-color: $title;
      color: $title;
    }
  }

  &__check-label {
    cursor: pointer;
    position: absolute;
    left: 25px;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -25px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid $icon-burger;
      background-color: $white;
    }

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: -18px;
      width: 6px;
      height: 6px;
      background-color: $icon-burger;
      opacity: 0.1;
    }
  }

  &__checkbox {
    opacity: 0;

    @include bp($sm) {
      margin-bottom: 15px;
    }

    &:hover+.modal__check-label::before {
      background-color: #a3bbc87a;
    }

    &:checked+.modal__check-label::after {
      opacity: 1;
    }
  }

  &__text {
    display: block;
    padding: 30px 0 25px;
    text-align: center;

    @include bp($sm) {
      padding: 15px 0;
    }
    @media screen and (max-width: 992px) and (orientation: landscape) {
      padding: 15px 0;
    }
  }

  &__link-create {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-family: $rubik;
    font-weight: 500;
    font-size: 18px;
    color: $slider-title;
    border: 1px solid $icon-burger;

    &:hover {
      color: $ff;
      background-color: $icon-burger;
      border-color: $icon-burger;
    }
  }
}