.blog {
  &__article--details {
    margin-bottom: 57px;

    @include bp($md) {
      margin-bottom: 20px;
    }
  }

  &__quote {
    position: relative;
    background-color: #edf1f4;
    padding: 25px 45px 25px 40px;
    margin-bottom: 41px;

    &::before {
      position: absolute;
      content: '';
      width: 6px;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: $icon-burger;
    }
  }

  &__author {
    position: relative;
    padding-left: 40px;

    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 4px;
      background-color: $icon-burger;
      left: 13px;
      top: 50%;
      transform: translateX(-50%);
    }
  }

  &__quote-text {
    margin-bottom: 0;
  }

  &__example {
    display: flex;
    margin-bottom: 30px;

    @include bp($md) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__picture {
    max-width: 320px;
    width: 100%;
    margin-right: 30px;

    @include bp($md) {
      max-width: 600px;
      max-height: 60vh;
      margin: 0 auto;
      overflow: hidden;
    }
  }

  &__pic {
    margin: 0 auto;
  }

  &__textwrap {
    padding: 20px 0 0;
    max-width: 475px;
    width: 100%;

    @include bp($md) {
      max-width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;

    @include bp($md) {
      text-align: center;
    }
  }

  &__comment {
    color: #565872;

    @include bp($md) {
      margin-bottom: 0;
    }
  }

  &__creator {
    display: flex;
    justify-content: space-between;
    padding: 27px 20px 25px 0;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    margin-bottom: 50px;

    @include bp($md) {
      margin-bottom: 10px;
    }
    @include bp($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__wrap {
    display: flex;
    @include bp($sm) {
margin-bottom: 20px;
    }
  }

  &__wrap-block {
    display: flex;
    flex-direction: column;
  }

  &__social {
    padding: 5px 8px 0 0;
  }

  &__creator-photo {
    margin-right: 25px;
  }

  &__creator-name {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
    transition: color 0.2s;

    &:hover {
      color: $icon-head;
    }

    &:active {
      color: #000;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }

  &__social-top,
  &__social-bottom {
    display: flex;
    justify-content: space-between;
  }

  &__social-decr {
    margin-right: 20px;
  }

  &__social-list {
    display: flex;
    margin: 0 auto;
  }

  &__social-link {
    color: #a1a1a1;
    transition: color 0.2s;

    &:hover {
      color: $icon-head;
    }

    &:active {
      color: #000;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }

  &__social-item {
    &:not(:last-child) .blog__icon-filters {
      margin-right: 20px;
    }
  }

  &__icon-filters {
    width: 15px;
    height: 15px;
    fill: #a1a1a1;
    transition: fill 0.2s;

    &:hover {
      fill: $icon-head;
    }

    &:active {
      fill: #000;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }
}

