.blog-one {
  margin-bottom: 22px;

  @include bp($md) {
    margin-bottom: 20px;
  }

  &__images {
    margin-bottom: 20px;
  }

  h2 {
    font-family: $dmsans;
    font-weight: 500;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;

    @include bp($sm) {
      margin-bottom: 10px;
      line-height: 1.2;
      font-size: 25px;
    }
  }

  strong {
    display: block;
    font-weight: 500;
    margin-bottom: 13px;
  }

  p {
    margin-bottom: 35px;
    font-weight: 400;
    @include line-clamp(10);

    @include bp($md) {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      margin-bottom: 10px;
    }
  }

  blockquote {
    position: relative;
    background-color: $bread;
    padding: 18px 45px 25px 40px;
    margin-bottom: 23px;

    &::before {
      position: absolute;
      content: '';
      width: 6px;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: $icon-burger;
    }

    p {
      margin-bottom: 7px;
    }
  }

  cite {
    display: block;
    position: relative;
    padding-left: 40px;

    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 4px;
      background-color: $icon-burger;
      left: 13px;
      top: 50%;
      transform: translateX(-50%);
    }
  }

  h3 {
    font-family: $dmsans;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;

    @include bp($md) {
      margin-bottom: 5px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 30px;

      @include bp($md) {
        margin-bottom: 0;
      }
    }

    @include bp($md) {
      flex-direction: column;
    }
  }

  &__content {
    padding-top: 33px;

    @include bp($sm) {
      padding-top: 20px;
    }
  }

  &__left {
    max-width: 320px;
    width: 100%;
    margin-right: 30px;

    @include bp($md) {
      margin-right: 0;
      max-width: 550px;
    }
  }
}

.blog {

  &__pic {
    margin: 0 auto;
  }

  &__textwrap {
    padding: 20px 0 0;
    max-width: 475px;
    width: 100%;

    @include bp($md) {
      max-width: 100%;
    }
  }

  &__comment {
    color: $comment;

    @include bp($md) {
      margin-bottom: 0;
    }
  }

  &__creator {
    display: flex;
    justify-content: space-between;
    padding: 27px 20px 25px 0;
    border-top: 2px solid $eb;
    border-bottom: 2px solid $eb;
    margin-bottom: 50px;

    @include bp($md) {
      margin-bottom: 10px;
    }

    @include bp($sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__wrap {
    display: flex;

    @include bp($sm) {
      margin-bottom: 20px;
    }
  }

  &__wrap-block {
    display: flex;
    flex-direction: column;
  }

  &__social {
    padding: 5px 8px 0 0;
  }

  &__creator-photo {
    margin-right: 25px;
  }

  &__creator-name {
    font-size: 18px;
    font-weight: 500;
    color: $gray;
    transition: color 0.2s;

    &:hover {
      color: $icon-head;
    }

    &:active {
      color: $black;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }

  &__social-top,
  &__social-bottom {
    display: flex;
    justify-content: space-between;
  }

  &__social-decr {
    margin-right: 20px;
  }

  &__social-list {
    display: flex;
    margin: 0 auto;
  }

  &__social-link {
    color: $a1;
    transition: color 0.2s;

    &:hover {
      color: $icon-head;
    }

    &:active {
      color: $black;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }

  &__social-item {
    &:not(:last-child) .blog__icon-filters {
      margin-right: 20px;
    }
  }

  &__icon-filters {
    width: 15px;
    height: 15px;
    fill: $a1;
    transition: fill 0.2s;

    &:hover {
      fill: $icon-head;
    }

    &:active {
      fill: $black;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }
}