.aside-order {
  order: 2;
  width: 270px;
  border: none;

  @include bp($xl) {
    display: none;
  }

  &--active {
    display: block;
    padding: 50px 10px;
    background-color: $white;
    width: 290px;

    border: 2px solid $footer-title;
    border-radius: 5px;

    @include bp($sm) {
      width: 100%;
    }

    .shop__button,
    .filters-wrapper {
      display: block;
    }

    .shop__button {
      outline: transparent;

      &:focus {
        border: 2px solid $icon-head;
        border-radius: 5px;
      }
    }
  }
}

.filters-wrapper {
  display: none;
}

.form-search {
  display: flex;
  border: 2px solid $icon;
  border-radius: 5px;
  margin-bottom: 55px;

  &__input {
    flex: auto;
    height: 40px;
    border: none;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: $icon;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $slider-title;

      svg {
        fill: $white;
      }
    }
  }

  &__input,
  &__btn {
    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $svg;
    transition: fill 0.2s;
  }

  &__close {
    display: none;
  }
}

.blog {

  max-width: 830px;
  width: 100%;
  margin-right: 70px;
  font-family: $rubik;
  font-weight: 400;
  color: $slider-title;

  @include bp($xl) {
    margin: 0 auto;
  }

  @include bp($lg) {
    max-width: 95vw;
  }

  @include bp($sm) {
    max-width: 90vw;
  }

  &__filter {
    @include bp($xl) {
      display: block;
      margin-left: auto;
    }
  }

  &__list {
    @include bp($md) {
      margin-bottom: 30px;
    }
  }

  // .blog__item

  &__item {
    line-height: 1.9;

    &:not(:last-child) {
      margin-bottom: 45px;

      @include bp($md) {
        margin-bottom: 30px;
      }

      @media screen and (max-width: 992px) and (orientation: landscape) {
        margin-bottom: 35px;
      }
    }
  }

  // .blog__images

  &__images {
    position: relative;
    margin-bottom: 25px;
    max-height: 70vh;
    overflow: hidden;

    @include bp($md) {
      margin-bottom: 10px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      max-width: 70vw;
      margin: 0 auto 10px;
    }
  }

  // .blog__img

  &__img {
    width: 100%;
  }

  &__descr {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 23px;

    background-color: $icon-burger;
    color: $white;

    @include bp($sm) {
      padding: 5px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      padding: 10px;
    }

    a {
      &:hover {
        color: $black;
      }
    }
  }

  &__txt {
    padding-bottom: 5px;
  }

  // .blog__title

  &__title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;

    &--details {
      margin-bottom: 5px;
    }

    @include line-clamp(2);

    @include bp($md) {
      margin-bottom: 15px;
    }

    @include bp($sm) {
      font-size: 26px;
      line-height: 1.2;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      margin-bottom: 10px;
      font-size: 30px;
      text-align: center;
    }
  }

  &__subtext {
    font-weight: 500;
    margin-bottom: 30px;

    &--details {
      margin-bottom: 13px;
    }
  }

  // .blog__text

  &__text {
    margin-bottom: 32px;
    font-weight: 400;
    @include line-clamp(10);


    @include bp($md) {
      margin-bottom: 15px;
      // text-align: justify;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
      margin-bottom: 10px;
    }
  }

  &__link {
    padding: 15px 89px 18px 19px;
    margin-bottom: 0;

    @include bp($sm) {
      padding: 8px 60px 8px 19px;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }

  &__num {
    @include bp($xl) {
      justify-content: center;
    }
  }

  &__date {
    &:hover {
      color: $black;
    }
  }
}