.comments {
  color: $comments;
  margin-bottom: 53px;

  @include bp($md) {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 38px;
    @include bp($md) {
      text-align: center;
      margin-bottom: 0;
    }
  }

  &__box {
    display: flex;
    margin-bottom: 20px;
    @include bp($sm) {
      flex-direction: column;
    }
    &--replay {
      justify-content: flex-end;

      @include bp($md) {
        margin-left: 100px;
      }

      @include bp($sm) {
        margin-left: 35px;
      }
    }
  }

  &__avatar {
    max-width: 100px;
    width: 100%;
    margin-right: 30px;
    margin-top: 10px;
  }

  &__img {
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__content {
    max-width: 700px;
    width: 100%;
    padding-bottom: 23px;
    padding-top: 5px;
    border-bottom: 1px solid #e0e0e0;

    &--replay {
      max-width: 570px;
      width: 100%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @include bp($sm) {
     flex-direction: column;
    }
  }

  &__name {
    font-weight: 700;
    transition: color 0.2s;

    &:hover {
      color: $icon-head;
    }

    &:active {
      color: #000;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }

  &__date {
    font-size: 14px;
    color: #e0e0e0;
  }

  &__text {
    color: #565872;
    margin-bottom: 12px;
  }

  &__link {
    position: relative;
    transition: color 0.2s;

    &::after {
      content: '';
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translatey(-50%);
      width: 7px;
      height: 11px;
      background-image: url(../images/icon/arrow-right.svg);
      background-repeat: no-repeat;
    }

    &:hover {
      color: $icon-head;

      &::after {
        background-image: none;
      }
    }

    &:active {
      color: #000;
    }

    &:focus {
      outline: transparent;
      border: 2px solid $icon-head;
      border-radius: 5px;
    }
  }

  // .comments__post

  &__post {
    max-width: 830px;
    width: 100%;
  }

  // .comments__form
}

