<section class="articles">
  <div class="container">
    <div class="articles__top">
      <h2 class="title articles__title">Our Insights & Articles</h2>
      <a class="articles__more" href="#">View All</a>
    </div>
    <span class="sr-only">Follow the links to find out new ideas and read articles about the interior</span>
    <ul class="articles__items">


      <li class="articles__item">
        <div class="articles__images">
          <a href="" class="articles__link"></a>
          <img class="articles__img" src="../images/our/1.png" width="370" height="250" alt="idea photo">
        </div>
        <a class="articles__news" href="#">News</a>
          <div class="articles__info">
            <div class="articles__text">
              <a href="#">1111Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
            </div>
            <div class="articles__bottom">
              <p class="articles__date">28 january, 2020</p>
              <a class="articles__user" href="#">by aDmin</a>
            </div>
          </div>
      </li>

      
<!-- 
      <li class="articles__item">
        <div class="articles__images">
          <img class="articles__img" src="../images/our/1.png" width="370" height="250" alt="idea photo">
          <a class="articles__news" href="#">News</a>
          <div class="articles__info">
            <div class="articles__text">
              <a href="#">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
            </div>
            <div class="articles__bottom">
              <p class="articles__date">28 january, 2020</p>
              <a class="articles__user" href="#">BY ADMIN</a>
            </div>
          </div>
        </div>
      </li> -->

      <li class="articles__item">
        <div class="articles__images">
          <img class="articles__img" src="../images/our/2.png" width="370" height="250" alt="idea photo">
          <a class="articles__news" href="#">News</a>
          <div class="articles__info">
            <div class="articles__text">
              <a href="#">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
            </div>
            <div class="articles__bottom">
              <p class="articles__date">28 january, 2020</p>
              <a class="articles__user" href="#">BY ADMIN</a>
            </div>
          </div>
        </div>
      </li>

      <li class="articles__item">
  
        <div class="articles__images">
          <img class="articles__img" src="../images/our/3.png" width="370" height="250" alt="idea photo">
          <a class="articles__news" href="#">News</a>
          <div class="articles__info">
            <div class="articles__text">
              <a href="#">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a>
            </div>
            <div class="articles__bottom">
              <p class="articles__date">28 january, 2020</p>
              <a class="articles__user" href="#">BY ADMIN</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>