<section class="design" data-ref="mix-2">
  <div class="container">
    <h2 class="title design__title">
      New Design
    </h2>
    <!-- ?---------------------------фильтр------------------------------- -->
    <ul class="filter">
      <span class="sr-only">Products of the week filter</span>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week all</span>
        <button class="filter__button filter__button--active" data-filter="all" type="button">All</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Furnitures</span>
        <button class="filter__button" data-filter=".category-a" type="button">Furnitures</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Chairs</span>
        <button class="filter__button" data-filter=".category-b" type="button">Chairs</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Lighting</span>
        <button class="filter__button" data-filter=".category-c" type="button">Lighting</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Decor</span>
        <button class="filter__button" data-filter=".category-d" type="button">Decor</button>
      </li>
    </ul>
    <!-- ?---------------------------товары------------------------------- -->
    <ul class="design__items">

      <li class="design__item mix category-a">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>
          <div class="design-card__images">
            <img class="design-card__img" src="../images/newdesign/11.png" alt="product design">
          </div>
          <h3 class="design-card__title">Beat Flat Pendant Black</h3>
          <span class="design-card__style">Classic</span>
        </article>
      </li>

      <li class="design__item mix category-b category-c">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>
          <div class="design-card__images">
            <img class="design-card__img" src="../images/newdesign/22.png" alt="product design">
          </div>
          <h3 class="design-card__title">Lampe Sur Pieds Bamboo</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>

      <li class="design__item mix category-c category-d">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>
          <div class="design-card__images design-card__images--right">
            <img class="design-card__img" src="../images/newdesign/33.png" alt="product design">
          </div>
          <h3 class="design-card__title">Rattan Rocking Chai</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>

      <li class="design__item mix category-b">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>
          <div class="design-card__images">
            <img class="design-card__img" src="../images/newdesign/44.png" alt="product design">
          </div>
          <h3 class="design-card__title">Rattan Rocking Chair</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>

      <li class="design__item mix category-b category-c">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>
          <div class="design-card__images design-card__images--right">
            <img class="design-card__img" src="../images/newdesign/55.png" alt="product design">
          </div>
          <h3 class="design-card__title">Rattan Rocking Chair</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>

      <li class="design__item mix category-a category-d">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>
          <div class="design-card__images">
            <img class="design-card__img" src="../images/newdesign/66.png" alt="product design">
          </div>
          <h3 class="design-card__title">Lampe Sur Pieds Bamboo</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>
    </ul>
  </div>

  <span class="sr-only">appreciate the design of our furniture</span>
  <a class="video-popup" data-fancybox href="https://youtu.be/NGxNy_ZoKWM"
    style="background-image: url('/../images/newdesign/video-bg.png');">
    <svg class="video-popup__icon">
      <use xlink:href="images/sprite.svg#video-play"></use>
    </svg>
  </a>
</section>