<section class="design" data-ref="mix-2">
  <div class="container">
    <h2 class="title design__title">
      New Design
    </h2>
    <!-- ?---------------------------фильтр------------------------------- -->
    <ul class="filter">
      <span class="sr-only">Products of the week filter</span>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week all</span>
        <button class="filter__button filter__button--active" data-filter="all" type="button">All</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Furnitures</span>
        <button class="filter__button" data-filter=".category-a" type="button">Furnitures</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Chairs</span>
        <button class="filter__button" data-filter=".category-b" type="button">Chairs</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Lighting</span>
        <button class="filter__button" data-filter=".category-c" type="button">Lighting</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Decor</span>
        <button class="filter__button" data-filter=".category-d" type="button">Decor</button>
      </li>
    </ul>
    <!-- ?---------------------------товары------------------------------- -->

    <ul class="design__items">

      <li class="design__item mix category-a category-d">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>      
          <div class="design-card__images">
            <img class="design-card__img" src="../images/newdesign/11.png" alt="product design">
          </div>
          <h3 class="design-card__title">Beat Flat Pendant Black</h3>
          <span class="design-card__style">Classic</span>
        </article>
      </li>
      <li class="design__item mix category-a category-d">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>      
          <div class="design-card__images">
            <img class="design-card__img" src="../images/newdesign/22.png" alt="product design">
          </div>
          <h3 class="design-card__title">Lampe Sur Pieds Bamboo</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>
      <li class="design__item mix category-a category-d">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>      
          <div class="design-card__images design-card__images--right">
            <img class="design-card__img" src="../images/newdesign/33.png" alt="product design">
          </div>
          <h3 class="design-card__title">Rattan Rocking Chai</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>
      <li class="design__item mix category-a category-d">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>      
          <div class="design-card__images">
            <img class="design-card__img" src="../images/newdesign/44.png" alt="product design">
          </div>
          <h3 class="design-card__title">Rattan Rocking Chair</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>
      <li class="design__item mix category-a category-d">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>      
          <div class="design-card__images design-card__images--right">
            <img class="design-card__img" src="../images/newdesign/55.png" alt="product design">
          </div>
          <h3 class="design-card__title">Rattan Rocking Chair</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>
      <li class="design__item mix category-a category-d">
        <article class="design-card product-card">
          <a class="design-card__link" href="#" title="ссылка на фото"></a>      
          <div class="design-card__images">
            <img class="design-card__img" src="../images/newdesign/66.png" alt="product design">
          </div>
          <h3 class="design-card__title">Lampe Sur Pieds Bamboo</h3>
          <a class="design-card__style">Classic</a>
        </article>
      </li>


      <!-- <li class="design__item mix category-a category-d">
        <a class="design__link" href="#" title="ссылка на фото"></a>
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/11.png"  alt="product design">
          </div>
        <a class="design__name" href="#" title="ссылка на этот товар">Beat Flat Pendant Black</a>
        <a class="design__style" href="#" title="ссылка на категорию товаров">Classic</a>
      </li> -->



      <!-- <li class="design__item mix category-b category-c">
        <a class="design__link" href="#" title="ссылка на фото"></a>
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/22.png" alt="product design">
        </div>
        <a class="design__name" href="#" title="ссылка на этот товар">Lampe Sur Pieds Bamboo</a>
        <a class="design__style" href="#" title="ссылка на категорию товаров">Classic</a>
      </li>

      <li class="design__item mix category-c category-a">
        <a class="design__link" href="#" title="ссылка на фото"></a>
        <div class="design__images design__images--right">
          <img class="design__img" src="../images/newdesign/33.png" alt="product design">
        </div>
        <a class="design__name" href="#" title="ссылка на этот товар">3 Rattan Rocking Chai</a>
        <a class="design__style" href="#" title="ссылка на категорию товаров">Classic</a>
      </li>

      <li class="design__item mix category-b">
        <a class="design__link" href="#" title="ссылка на фото"></a>
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/44.png" alt="product design">
        </div>
        <a class="design__name" href="#" title="ссылка на этот товар">Rattan Rocking Chair</a>
        <a class="design__style" href="#" title="ссылка на категорию товаров">Classic</a>
      </li>

      <li class="design__item mix category-c category-b">
        <a class="design__link" href="#" title="ссылка на фото"></a>
        <div class="design__images design__images--right">
          <img class="design__img" src="../images/newdesign/55.png" alt="product design">
        </div>
        <a class="design__name" href="#" title="ссылка на этот товар">Rattan Rocking Chair</a>
        <a class="design__style" href="#" title="ссылка на категорию товаров">Classic</a>
      </li>

      <li class="design__item mix category-b category-d">
        <a class="design__link" href="#" title="ссылка на фото"></a>
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/66.png" alt="product design">
        </div>
        <a class="design__name" href="#" title="ссылка на этот товар">Lampe Sur Pieds Bamboo</a>
        <a class="design__style" href="#" title="ссылка на категорию товаров">Classic</a>
      </li> -->









      <!-- <li class="design__item mix category-a category-d">
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/11.png" width="270" height="110" alt="product design">
        </div>
        <p class="design__name">Beat Flat Pendant Black</p>
        <a class="design__name" href="#">Beat Flat Pendant Black</a>
        <p class="design__style">Classic</p>
      </li> -->
      <!-- 
      <li class="design__item mix category-b category-c">
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/22.png" width="270" height="110" alt="product design">
        </div>
        <a class="design__name" href="#">Lampe Sur Pieds Bamboo</a>
        <p class="design__style">Classic</p>
      </li>

      <li class="design__item mix category-c">
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/33.png" width="112" height="145" alt="product design">
        </div>
        <a class="design__name" href="#">Rattan Rocking
          Chair</a>
        <p class="design__style">Classic</p>
      </li>

      <li class="design__item mix category-c">
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/44.png" width="270" height="135" alt="product design">
        </div>
        <a class="design__name" href="#">Rattan Rocking Chair</a>
        <p class="design__style">Classic</p>
      </li>

      <li class="design__item mix category-d">
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/55.png" width="142" height="178" alt="product design">
        </div>
        <a class="design__name" href="#">Rattan Rocking Chair</a>
        <p class="design__style">Classic</p>
      </li>

      <li class="design__item mix category-b">
        <div class="design__images">
          <img class="design__img" src="../images/newdesign/66.png" width="270" height="110" alt="product design">
        </div>
        <a class="design__name" href="#">Lampe Sur Pieds Bamboo</a>
        <p class="design__style">Classic</p>
      </li> -->
    </ul>
  </div>



  <span class="sr-only">appreciate the design of our furniture</span>
  <a class="video-popup" data-fancybox href="https://youtu.be/NGxNy_ZoKWM"
    style="background-image: url('/../images/newdesign/video-bg.png');">
    <svg class="video-popup__icon">
      <use xlink:href="images/sprite.svg#video-play"></use>
    </svg>
  </a>
</section>