<div class="partners">
  <div class="container">
    <ul class="partners__list">

      <li class="partners__item">
        <div class="partners__img">
          <img src="../images/partner/1.png" alt="partners">
        </div>
      </li>

      <li class="partners__item">
        <div class="partners__img">
          <img src="../images/partner/2.png" alt="partners">
        </div>
  </li>

  <li class="partners__item">
    <div class="partners__img">
      <img src="../images/partner/3.png" alt="partners">
    </div>
  </li>

  <li class="partners__item">
    <div class="partners__img">
      <img src="../images/partner/4.png" alt="partners">
    </div>
  </li>

  <li class="partners__item">
    <div class="partners__img">
      <img src="../images/partner/5.png" alt="partners">
    </div>
  </li>

  <li class="partners__item">
    <div class="partners__img">
      <img src="../images/partner/1.png" alt="partners">
    </div>
  </li>

  <!-- ! дубль партнеров для слайдера чтобы выводил сразу 5 на экран и листал по одному, можно и одного добавить всего но будет заметно что один повторяется чаще других-->

  <li class="partners__item">
    <div class="partners__img">
      <img src="../images/partner/2.png" alt="partners">
    </div>
  </li>

  <li class="partners__item">
    <div class="partners__img">
      <img src="../images/partner/3.png" alt="partners">
    </div>
  </li>

  <li class="partners__item">
    <div class="partners__img">
      <img src="../images/partner/4.png" alt="partners">
    </div>
  </li>

  <li class="partners__item">
    <div class="partners__img">
      <img src="../images/partner/5.png" alt="partners">
    </div>
  </li>
  </ul>
</div>
</div>