<div class="partners">
  <div class="container">
    <ul class="partners__list">

      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/1.png" alt="partners">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/2.png" alt="partners">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/3.png" alt="partners">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/4.png" alt="partners">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/5.png" alt="partners">
        </a>
      </li>

      <!-- !---------------------дубль лого---------------------- -->
      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/1.png" alt="partners">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/2.png" alt="partners">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/3.png" alt="partners">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/4.png" alt="partners">
        </a>
      </li>

      <li class="partners__item">
        <a class="partners__img" href="#">
          <img src="../images/partner/5.png" alt="partners">
        </a>
      </li>

    </ul>
  </div>
</div>