
<section class="products-week">
  <div class="container">
    <h2 class="title">
      Products of the week
    </h2>
    <!-- !---------------------------фильтр------------------------------- -->
    <ul class="filter">
      <span class="sr-only">Products of the week filter</span>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week all</span>
        <button class="filter__button filter__button--active" data-filter="all" type="button">All</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Furnitures</span>
        <button class="filter__button" data-filter=".category-a" type="button">Furnitures</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Chairs</span>
        <button class="filter__button" data-filter=".category-b" type="button">Chairs</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Lighting</span>
        <button class="filter__button" data-filter=".category-c" type="button">Lighting</button>
      </li>
      <li class="filter__wrapper">
        <span class="sr-only">Products of the week Decor</span>
        <button class="filter__button" data-filter=".category-d" type="button">Decor</button>
      </li>
    </ul>
    <!-- !---------------------------товары------------------------------- -->
    <ul class="products-week__items">
      <li class="products-week__item mix category-a">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/1.png" width="240" height="170" alt="product name">
          </div>

          <h3 class="product-card__name">
            Wooden radio111
          </h3>

          <p class="product-card__cost">
            <span>$</span>2199.00
          </p>
          <div class="product-card__nav">
            <a class="nav-btn product-card__btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="nav-btn product-card__btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="nav-btn product-card__btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item mix category-a">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/2.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden radio
          </h3>
          <p class="product-card__cost">
            <span>$</span>299.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/3.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden radio
          </h3>
          <p class="product-card__cost">
            <span>$</span>299.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item mix category-c">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/4.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden radio
            
          </h3>
          <p class="product-card__cost">
            <span>$</span>299.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item mix category-d">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/5.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden radio
          </h3>
          <p class="product-card__cost">
            <span>$</span>299.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item mix category-a">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/6.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden radio
          </h3>
          <p class="product-card__cost">
            <span>$</span>299.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item mix category-d">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/7.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden radio
          </h3>
          <p class="product-card__cost">
            <span>$</span>299.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>

      <li class="product-week__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#" target="_blank"></a>
          <div class="product-card__images">
            <img class="product-card__img" src="../images/filter/8.png" width="240" height="170" alt="product name">
          </div>
          <h3 class="product-card__name">
            Wooden radio
          </h3>
          <p class="product-card__cost">
            <span>$</span>30.00
          </p>
          <div class="product-card__nav">
            <a class="product-card__btn nav-btn product-card__btn--search" href="#" target="_blank">
              <svg class="product-card__icon product-card__icon--search">
                <use xlink:href="images/sprite.svg#card-search"></use>
              </svg>
            </a>
            <button class="product-card__btn nav-btn product-card__btn--basket" type="button">
              <svg class="product-card__icon product-card__icon--basket">
                <use xlink:href="images/sprite.svg#card-basket"></use>
              </svg>
            </button>
            <button class="product-card__btn nav-btn product-card__btn--favorites" type="button">
              <svg class="product-card__icon product-card__icon--like">
                <use xlink:href="images/sprite.svg#card-like"></use>
              </svg>
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
  <div class="container container--large">
    <ul class="view-more">
      <li class="view-more__item">
        <div class="view-more__wrap">
          <img class="view-more__img" src="../images/lampa.png" alt="Mirum Notare Tellus">
        <div class="view-more__info">
          <p class="view-more__name">Mirum Notare Tellus</p>
          <div class="view-more__descr">
            <p>LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27 LED CornLight</p>
          </div>
          <a class="link-more view-more__link" href="#">
            View More
          </a>
          <span class="sr-only">click on the button to buy now</span>
        </div>
        </div>
        
      </li>
      <li class="view-more__item">
        <div class="view-more__wrap">
          <img class="view-more__img" src="../images/lampa2.png" alt="Malesuada Tempor Euismod">
        <div class="view-more__info">
            <p class="view-more__name">Malesuada Tempor Euismod</p>
          <div class="view-more__descr">
            <p>50W 8000lm Compact Size for HID Street Light Replacement LED Corn Light</p>
          </div>
          <a class="link-more view-more__link" href="#">
            View More
          </a>
          <span class="sr-only">click on the button to buy now</span>
        </div>
        </div>
        
      </li>
    
    </ul>
  </div>
</section>