<section class="services">
  <h2 class="sr-only">Services section</h2>
  <span class="sr-only">Our services. we are open 24/7, we have free shipping, you can pay for goods by card</span>
  <div class="container container--large">
    <ul class="services__inner">

      <li class="services__item">
        <div class="services__content services__content--support">
          <h3 class="services__title">Support 24/7.</h3>
          <div class="services__text">
            <p>
              Contact us 24 hours a day, 7 days a week.
            </p>
          </div>
        </div>
      </li>

      <li class="services__item">
        <div class="services__content services__content--delivery">
          <h3 class="services__title"> Delivery.</h3>
          <div class="services__text">
            <p>
              Free shipping on all US order..
            </p>
          </div>
        </div>
      </li>

      <li class="services__item">
        <div class="services__content services__content--card">
          <h3 class="services__title">100% Payment secure.</h3>
          <div class="services__text">
            <p>
              We ensure secure payment with PEV.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>