<section class="top-slider">
  <h2 class="sr-only">Top slider section</h2>
  <div class="container container--large">
    <ul class="top-slider__inner">

      <li class="top-slider__item">
        <div class="top-slider__wrap">
          <div class="top-slider__content">
            <p class="top-slider__name">
              smart and trendy
            </p>
            <div class="top-slider__text">
              <p>
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
            <a class="link-more top-slider__link button-link" href="#">
              Shop Now
            </a>
          </div>
          <div class="top-slider__images">
            <img class="top-slider__img" src="images/slider-img.png" width="650" height="370" alt="slider image">
          </div>
        </div>
      </li>

      <li class="top-slider__item">
        <div class="top-slider__wrap">
          <div class="top-slider__content">
            <p class="top-slider__name">
              smart and trendy
            </p>
            <div class="top-slider__text">
              <p>
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
            <a class="link-more top-slider__link button-link" href="#">
              Shop Now
            </a>
          </div>
          <div class="top-slider__images">
            <img class="top-slider__img" src="images/slider-img.png" width="650" height="370" alt="slider image">
          </div>
        </div>
      </li>

      <li class="top-slider__item">
        <div class="top-slider__wrap">
          <div class="top-slider__content">
            <p class="top-slider__name">
              smart and trendy
            </p>
            <div class="top-slider__text">
              <p>
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              </p>
            </div>
            <a class="link-more top-slider__link button-link" href="#">
              Shop Now
            </a>
          </div>
          <div class="top-slider__images">
            <img class="top-slider__img" src="images/slider-img.png" width="650" height="370" alt="slider image">
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>