<div class="blog__creator">
  <div class="blog__wrap">
    <div class="blog__creator-photo">
      <img class="blog__creator-pic" src="./images/blog/man1.jpg" alt="autor photo">
    </div>
    <div class="blog__wrap-block">
      <a class="blog__creator-name" href="#">Mark N. Hernandez</a>
      <span class="blog__creator-position">Designer</span>
    </div>

  </div>

  <div class="blog__social">
    <div class="blog__social-top">
      <span class="blog__social-decr">Tags: </span>
      <ul class="blog__social-list">
        <li class="blog__social-item">
          <a class="blog__social-link" href="#">All, </a>
        </li>
        <li class="blog__social-item">
          <a class="blog__social-link" href="#">Trending</a>
        </li>
      </ul>
    </div>

    <div class="blog__social-bottom">
      <span class="blog__social-decr">Share: </span>
      <ul class="blog__social-list">
        <li class="blog__social-item">
          <a class="blog__social-link" href="#">
            <svg class="blog__icon-filters">
              <use xlink:href="images/sprite.svg#blog-fb"></use>
            </svg>
          </a>
        </li>
        <li class="blog__social-item">
          <a class="blog__social-link" href="#">
            <svg class="blog__icon-filters">
              <use xlink:href="images/sprite.svg#blog-tw"></use>
            </svg>
          </a>
        </li>
        <li class="blog__social-item">
          <a class="blog__social-link" href="#">
            <svg class="blog__icon-filters">
              <use xlink:href="images/sprite.svg#blog-in"></use>
            </svg>
          </a>
        </li>
        <li class="blog__social-item">
          <a class="blog__social-link" href="#">
            <svg class="blog__icon-filters">
              <use xlink:href="images/sprite.svg#blog-go"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>