<div class="comments__post">
  <h3 class="comments__title">
    Leave A Comment
  </h3>
  <span class="sr-only">leave your comment</span>
  <form class="comments__form" action="#">
    <ul class="comments__information">
      <li class="comments__item">
        <label class="comments__label comments__label--name">
          <input class="comments__input" type="text" placeholder="Name">
        </label>
      </li>

      <li class="comments__item">
        <label class="comments__label comments__label--email">

          <input class="comments__input" type="text" placeholder="Email">
        </label>
      </li>
    </ul>
    <textarea class="comments__comment" placeholder="Comment"></textarea>
    <button class="comments__btn top-slider__link" type="submit">post comment</button>
  </form>
</div>