<div class="comments__post">
  <h3 class="comments__title">
    Leave A Comment
  </h3>
  <span class="sr-only">leave your comment</span>
  <form class="comments__form contact-form" action="#">
    <ul class="contact-form__information">
      <li class="contact-form__item">
        <label class="contact-form__label contact-form__label--name">
          <input class="contact-form__input" type="text" placeholder="Name">
        </label>
      </li>

      <li class="contact-form__item">
        <label class="contact-form__label contact-form__label--email">

          <input class="contact-form__input" type="text" placeholder="Email">
        </label>
      </li>
    </ul>
    <textarea class="contact-form__comment" placeholder="Comment"></textarea>
    <button class="contact-form__btn button-link" type="submit">post comment</button>
  </form>
</div>